@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

p a h1 h2 h3 h4 h5 button{
	font-family: 'Josefin Sans', sans-serif !important;
}


/* RESPONSIVE*/


@media screen and (max-width: 900px) {
	.contenedor-card-item:hover img {
    top: -30px;
    -webkit-transform: rotate(-5deg) scale(1.3);
    -ms-transform: rotate(-5deg) scale(1.3);
    -o-transform: rotate(-5deg) scale(1.3);
    transform: rotate(-5deg) scale(1.3);
  }

	.contenedor-card-item .contenedor-info {
		bottom: 0;
	}
}

@media screen and (max-width: 767px) {
	.contenedor {
		width: 95%;
	}

	.contenedor-cards .contenedor-card-item {
		width: 48%;
		margin: 1%;
	}
}

@media screen and (max-width: 550px) {
  .contenedor-cards .contenedor-card-item {
    width: 60%;
    margin: 10px auto;
  }
}

@media screen and (max-width: 480px) {
	.contenedor {
		width: 90%;
	}
  
  .contenedor-cards .contenedor-card-item {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
	.contenedor {
		width: 100%;
	}
}

.section .section-subtitle {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 0px;
	opacity: .9;
  }


@media screen and (min-width: 900px){
	.img-qs {
		margin-top: 25%;
	}
	.img-qs2 {
		
	margin-top: 30%;
	}
} 

@media screen and (max-width: 480px){
	.img-qs{
		margin-top: 0%;
	}
	.img-qs2 {
		margin-top: 0%;
	}
	
}

/* RESPONSIVE*/


.fondo-principal {
	background-image: url('../assets/img/presentacion.jpg'); 
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 500px;
} 

@media only screen and (max-width:430px){
	.fondo-principal {
		background-image: url('../assets/img/presentacion-mobile.jpg'); 
		background-position: center;
		background-repeat: no-repeat;
		width: 100%;
	}
}



/* BLOG */
.text-blog {
	color: #000000;
	margin-top: 2;
	margin-bottom: 2;
}
/* BLOG */

/*Footer*/
.piedepagina {
	align-items: center !important;
}

.logo-footer {
	align-items: center;
}
/*Footer*/